body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #228B22;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    color: #FFD700;
}


main {
    padding: 20px;
}

.main-image {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

h2 {
    color: #00FF00;
    background-color: rgba(0, 255, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}


footer {
    background-color: #228B22;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

footer p {
    color: white;
    font-size: 14px;
}
